{% extends "base.html" %}
{% block title %}О Сайте{% endblock %}
{% block content %}
  <div class="container my-5 py-3 border rounded" style="max-width: 700px">
    <h5>Привет, меня зовут Тимофей Григоренко - я автор этого сайта.</h5>
    <p>
      Здесь можно:
    </p>
    <ul>
      <li>Регистрироваться</li>
      <li>Публиковать и просматривать посты</li>
      <li>Ставить лайки, писать комментарии</li>
      <li>Подписываться на других авторов</li>
      <li>Редактировать профиль и свои записи</li>
    </ul>
  </div>
{% endblock %}